<nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel">Navigation</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu active pcoded-trigger">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                        <span class="pcoded-mtext">Tableau de bord</span>
                                    </a>
                                </li>
                                
                                
                                <li class="pcoded-hasmenu">
                                    <a href="/jury">
                                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                        <span class="pcoded-mtext">Jury</span>
                                       
                                 </a>
                                    
                                </li>
                           
                            
                                <li class="pcoded-hasmenu">
                                    <a href="/candidats">
                                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                        <span class="pcoded-mtext">Candidats</span>

                                    </a>
                                    
                                </li>
                           
                            
                                <li class="pcoded-hasmenu">
                                    <a href="/cv">
                                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                                        <span class="pcoded-mtext">CV</span>
                                    </a>
                                    
                                <li class="pcoded-hasmenu">
                                    <a href="/quizz">
                                        <span class="pcoded-micon"><i class="feather icon-gitlab"></i></span>
                                        <span class="pcoded-mtext">Quizz</span>
                                    </a>
                                    
                                <li class="pcoded-hasmenu">
                                    <a href="/questions">
                                        <span class="pcoded-micon"><i class="feather icon-package"></i></span>
                                        <span class="pcoded-mtext">Questions</span>
                                    </a>
                                    
                                <li class=" ">
                                    <a href="/session">
                                        <span class="pcoded-micon"><i class="feather icon-aperture rotate-refresh"></i><b>A</b></span>
                                        <span class="pcoded-mtext">Calendrier</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/reclamation">
                                        <span class="pcoded-micon"><i class="feather icon-cpu"></i></span>
                                        <span class="pcoded-mtext">Réclamation</span>
                                        
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="/contact">
                                        <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                                        <span class="pcoded-mtext">Contact</span>
                                    </a>
                                    
                            </ul>
                        </div>
                    </nav>